webSet.txt
[{"id":"d004ec73.2ffb1","type":"redisPub","name":"errPageDisplay","host":"127.0.0.1","port":6379,"user":"","passwd":"","channel":"adminpush_tableerrPageCount","x":879.4445533752441,"y":952.0744075775146,"z":"603ff2c0.9fc00c","wires":[]},{"id":"9432341a.6bcdc8","type":"function","name":"errPageDisplay","useRequire":false,"func":"var temp=[];\nvar payload=[];\npayload.push([\"错误类型\",\"错误页面\"]);\nif(msg.payload.length>50)\n{\n    var len=50;\n}\nelse\n{\n    var len=msg.payload.length;\n}\nfor(var i=0;i<len;i+=2)\n{\n    temp=msg.payload[i].split(',');\n    var type=temp[0];\n    var url=temp[1];\n    payload.push([type,url]);\n}\npayload={\"value\":payload};\nmsg.payload={\n        \"MsgID\":\"adminpush_tableerrPageCount\",\n        \"username\":\"admin\",\n        \"payload\":payload\n    };\nmsg.payload = JSON.stringify(msg.payload);\nreturn msg;","outputs":1,"x":645.1112594604492,"y":947.5189752578735,"z":"603ff2c0.9fc00c","wires":[["fc9ebc24.03614","d004ec73.2ffb1"]]},{"id":"92b6840c.6d4978","type":"redis in","hostname":"127.0.0.1","port":6379,"name":"errPageDisplay","key":"errPageDisplay","structtype":"zset","x":419.2223777770996,"y":948.7411127090454,"z":"603ff2c0.9fc00c","wires":[["5d5ae14d.a2a52","9432341a.6bcdc8"]]},{"id":"f6f90650.0906f8","type":"inject","name":"2s","topic":"","payload":"","payloadType":"none","repeat":"2","crontab":"","once":false,"x":178.11125946044922,"y":1016.2964057922363,"z":"603ff2c0.9fc00c","wires":[["92b6840c.6d4978","66833384.997ccc"]]},{"id":"5d5ae14d.a2a52","type":"debug","name":"","active":false,"console":"false","complete":"false","x":404.6668167114258,"y":882.9632453918457,"z":"603ff2c0.9fc00c","wires":[]},{"id":"fc9ebc24.03614","type":"debug","name":"","active":false,"console":"false","complete":"false","x":622.4446182250977,"y":884.4077033996582,"z":"603ff2c0.9fc00c","wires":[]},{"id":"ae3b84f4.51c478","type":"function","name":"countUserAgent","func":"var userIP=msg.payload.userIP;\nvar user_agent=msg.payload.user_agent;\nmsg.payload={\n    \"MsgID\":\"errPageCount\",\n    \"username\":\"wangjiangbo@orientsoft.cn\",\n    \"payload\":{\n        \"value\":[\n            [\"userIP\",\"userAgent\"],\n            [userIP,user_agent]\n            ]\n    }\n};\nmsg.payload = JSON.stringify(msg.payload);\nreturn msg;","outputs":1,"x":603.0000343322754,"y":728.7408094406128,"z":"603ff2c0.9fc00c","wires":[[]]},{"id":"3b354bff.c4cab4","type":"function","name":"msgToJSON","useRequire":false,"func":"\nvar userIP=\"\";\nvar hostIP=\"\";\nif(msg.payload.indexOf(\"HTTP_TRACE_REP\")==0)\n{\n    var temp=msg.payload.split('#');\n    var type=temp[0].slice(0,temp[0].indexOf('|'));\n    userIP=temp[0].split('|')[3].split(':')[0];\n    hostIP=temp[0].split('|')[2].split(':')[0];\n    var last=temp[1];\n    var lastTemp=last.split('|');\n    var target=lastTemp[3];\n    var status=lastTemp[4];\n    var hoststring=last.substring(last.indexOf(\"Host: \")+6,last.length);\n    var host=hoststring.substring(0,hoststring.indexOf(' '));\n    var user_agentstring=last.substring(last.indexOf(\"User-Agent: \")+12,last.length);\n    if(user_agentstring.indexOf(' ')>0)\n    {\n    \tvar user_agent=user_agentstring.substring(0,user_agentstring.indexOf(' '));\n    }\n    else\n    {\n    \tvar user_agent=user_agentstring;\n    }\n    if(last.indexOf(\"Referer: \")>0)\n    {\n    \tvar referer_string=last.substring(last.indexOf(\"Referer: \")+9,last.length);\n    \tif(referer_string.indexOf(' ')>0)\n    \t{\n    \t\tvar referer=referer_string.substring(0,referer_string.indexOf(' '));\n    \t}\n    \telse\n    \t{\n    \t\tvar referer=referer_string;\n    \t}\n    }\n    else\n    {\n    \tvar referer=\"\";\n    }\n    \n    msg.payload={\n        \"type\":type,\n        \"userIP\":userIP,\n        \"hostIP\":hostIP,\n        \"target\":target,\n        \"status\":status,\n        \"host\":host,\n        \"user_agent\":user_agent,\n        \"referer\":referer\n    };\n    return msg;\n}\nif(msg.payload.indexOf(\"HTTP_TRACE_REQ\")==0)\n{\n    var temp=msg.payload.split('#');\n    var type=temp[0].slice(0,temp[0].indexOf('|'));\n    hostIP=temp[0].split('|')[3].split(':')[0];\n    userIP=temp[0].split('|')[2].split(':')[0];\n    last=temp[1].split(\"|\")[3];\n    var target=last.substring(0,last.indexOf(' '));\n    var hoststring=last.substring(last.indexOf(\"Host: \")+6,last.length);\n    var host=hoststring.substring(0,hoststring.indexOf(' '));\n    var user_agentstring=last.substring(last.indexOf(\"User-Agent: \")+12,last.length);\n    if(user_agentstring.indexOf(' ')>0)\n    {\n    \tvar user_agent=user_agentstring.substring(0,user_agentstring.indexOf(' '));\n    }\n    else\n    {\n    \tvar user_agent=user_agentstring;\n    }\n    if(last.indexOf(\"Referer: \")>0)\n    {\n    \tvar referer_string=last.substring(last.indexOf(\"Referer: \")+9,last.length);\n    \tif(referer_string.indexOf(' ')>0)\n    \t{\n    \t\tvar referer=referer_string.substring(0,referer_string.indexOf(' '));\n    \t}\n    \telse\n    \t{\n    \t\tvar referer=referer_string;\n    \t}\n    }\n    else\n    {\n    \tvar referer=\"\";\n    }\n    msg.payload={\n        \"type\":type,\n        \"userIP\":userIP,\n        \"hostIP\":hostIP,\n        \"target\":target,\n        \"host\":host,\n        \"user_agent\":user_agent,\n        \"referer\":referer\n    };\n    return msg;\n}","outputs":1,"x":373.5452346801758,"y":567.407618522644,"z":"603ff2c0.9fc00c","wires":[["ae3b84f4.51c478","76121703.89ede8","afa55903.505aa8","8423277c.7bdcd8","382f565a.c7d0aa"]]},{"id":"1eb5e697.e14a19","type":"redisSub","name":"Http_traceReader","host":"127.0.0.1","port":6379,"user":"","passwd":"","channel":"http_trace","x":161.10076904296875,"y":570.6297569274902,"z":"603ff2c0.9fc00c","wires":[["3b354bff.c4cab4","7c087e3c.83f78"]]},{"id":"c010aecd.3fef5","type":"function","name":"errPageDisplay","useRequire":false,"func":"var time=(new Date()).getTime();\nvar errType=msg.payload.status;\nvar errURL=msg.payload.target;\nvar array=[errType,errURL];\nmsg.payload=['zincrby','errPageDisplay',time,array];\nreturn msg;\n","outputs":1,"x":806.3230133056641,"y":289.9632234573364,"z":"603ff2c0.9fc00c","wires":[["ef528428.10ad78"]]},{"id":"ef528428.10ad78","type":"redis-voyager","hostname":"127.0.0.1","port":6379,"name":"errPageDisplay","x":1030.888828277588,"y":290.2963066101074,"z":"603ff2c0.9fc00c","wires":[]},{"id":"76121703.89ede8","type":"debug","name":"","active":false,"console":"false","complete":"false","x":362.1563148498535,"y":487.1853437423706,"z":"603ff2c0.9fc00c","wires":[]},{"id":"afa55903.505aa8","type":"function","name":"errPage","useRequire":false,"func":"if(msg.payload.type==\"HTTP_TRACE_REP\")\n{\n\tif(msg.payload.status.indexOf(\"3\")==0||msg.payload.status.indexOf(\"4\")==0||msg.payload.status.indexOf(\"5\")==0)\n\t{\n    \tvar errType=msg.payload.status;\n    \tvar errURL=msg.payload.target;\n    \tmsg.payload={\n    \t\t\"status\":errType,\n    \t\t\"target\":errURL\n    \t};\n    \treturn msg;\n\t}\n\n}","outputs":1,"x":581.777774810791,"y":345.1853322982788,"z":"603ff2c0.9fc00c","wires":[["c010aecd.3fef5","af5f40c2.50a0c"]]},{"id":"6c711654.938ee8","type":"function","name":"visitPageCount","useRequire":false,"func":"var visitPage=msg.payload.visitPage;\nmsg.payload=['zincrby','visitPageCount',1,visitPage];\nreturn msg;","outputs":1,"x":809.8766822814941,"y":528.1113233566284,"z":"603ff2c0.9fc00c","wires":[["59f7da2e.a60824","eb85324a.147ad"]]},{"id":"8423277c.7bdcd8","type":"function","name":"visitPage","useRequire":false,"func":"if(msg.payload.type==\"HTTP_TRACE_REQ\")\n{\n\t\n\tif(msg.payload.target.indexOf(\".html\")>0)\n\t{\n\t\tvar visitPage=msg.payload.target;\n\t\tmsg.payload={\n\t\t\t\"visitPage\":visitPage\n\t\t};\n\t\treturn msg;\n\t}\n}\n","outputs":1,"x":593.3210792541504,"y":496.33339977264404,"z":"603ff2c0.9fc00c","wires":[["6c711654.938ee8","5911bb01.a6ee44"]]},{"id":"59f7da2e.a60824","type":"debug","name":"","active":false,"console":"false","complete":"false","x":802.7654151916504,"y":471.66685009002686,"z":"603ff2c0.9fc00c","wires":[]},{"id":"5911bb01.a6ee44","type":"debug","name":"","active":false,"console":"false","complete":"false","x":591.7901344299316,"y":418.14826488494873,"z":"603ff2c0.9fc00c","wires":[]},{"id":"7c087e3c.83f78","type":"debug","name":"","active":false,"console":"false","complete":"false","x":160.66667556762695,"y":495.8520154953003,"z":"603ff2c0.9fc00c","wires":[]},{"id":"15eb72f7.ea148d","type":"inject","name":"1s","topic":"","payload":"","payloadType":"none","repeat":"1","crontab":"","once":false,"x":194.7932834625244,"y":1278.4910507202148,"z":"603ff2c0.9fc00c","wires":[["972d8134.68d28","49d1fc87.b62e04"]]},{"id":"eb85324a.147ad","type":"redis-voyager","hostname":"127.0.0.1","port":6379,"name":"visitPageCount","x":1032.2654151916504,"y":523.1608228683472,"z":"603ff2c0.9fc00c","wires":[]},{"id":"972d8134.68d28","type":"redis in","hostname":"127.0.0.1","port":6379,"name":"visitPageCount","key":"visitPageCount","structtype":"zset","x":417.5000915527344,"y":1239.7410278320312,"z":"603ff2c0.9fc00c","wires":[["84215ab2.7bdea8","f5c59be4.0a3a68"]]},{"id":"84215ab2.7bdea8","type":"function","name":"visitPageCount","useRequire":false,"func":"var temp=[];\nvar payload=[];\nif(msg.payload.length>40)\n{\n    var len=40;\n}\nelse\n{\n    var len=msg.payload.length;\n}\nfor(var i=0;i<len-1;i+=2)\n{\n\tvar visitPage=msg.payload[i];\n\tvar count=msg.payload[i+1];\n    payload.push([visitPage,count]);\n}\npayload={\"value\":payload};\nmsg.payload={\n        \"MsgID\":\"adminpush_tableerrPageCount\",\n        \"username\":\"admin\",\n        \"payload\":payload\n    };\nmsg.payload = JSON.stringify(msg.payload);\nreturn msg;","outputs":1,"x":662.2223243713379,"y":1264.9077920913696,"z":"603ff2c0.9fc00c","wires":[["b6e3cfb2.491c3"]]},{"id":"f5c59be4.0a3a68","type":"debug","name":"","active":false,"console":"false","complete":"false","x":414.77785873413086,"y":1188.6299562454224,"z":"603ff2c0.9fc00c","wires":[]},{"id":"af5f40c2.50a0c","type":"function","name":"errTypeCount","useRequire":false,"func":"var errType=msg.payload.status;\nmsg.payload=['zincrby','errTypeCount',1,errType];\nreturn msg;","outputs":1,"x":806.6667213439941,"y":420.0742292404175,"z":"603ff2c0.9fc00c","wires":[["92eeb775.6d1148","fa884a04.0577b8"]]},{"id":"92eeb775.6d1148","type":"debug","name":"","active":false,"console":"false","complete":"false","x":803.4445114135742,"y":344.5186185836792,"z":"603ff2c0.9fc00c","wires":[]},{"id":"66833384.997ccc","type":"redis in","hostname":"127.0.0.1","port":6379,"name":"errTypeCount","key":"errTypeCount","structtype":"zset","x":412.4444808959961,"y":1082.1854839324951,"z":"603ff2c0.9fc00c","wires":[["c268f718.3d9708","6b6c8a1.f949374"]]},{"id":"6b6c8a1.f949374","type":"function","name":"errTypeCount","useRequire":false,"func":"var temp=[];\nvar payload=[];\nif(msg.payload.length>12)\n{\n    var len=12;\n}\nelse\n{\n    var len=msg.payload.length;\n}\nfor(var i=0;i<len-1;i+=2)\n{\n\tvar errType=msg.payload[i];\n\tvar count=msg.payload[i+1];\n    payload.push([errType,count]);\n}\npayload={\"value\":payload};\nmsg.payload={\n        \"MsgID\":\"adminpush_tableerrPageCount\",\n        \"username\":\"admin\",\n        \"payload\":payload\n    };\nmsg.payload = JSON.stringify(msg.payload);\nreturn msg;","outputs":1,"x":644.1111755371094,"y":1099.2966918945312,"z":"603ff2c0.9fc00c","wires":[["beb2707.f414d9"]]},{"id":"c268f718.3d9708","type":"debug","name":"","active":false,"console":"false","complete":"false","x":411.000057220459,"y":1026.6300344467163,"z":"603ff2c0.9fc00c","wires":[]},{"id":"fa884a04.0577b8","type":"redis-voyager","hostname":"127.0.0.1","port":6379,"name":"errTypeCount","x":1035.889003753662,"y":419.96316051483154,"z":"603ff2c0.9fc00c","wires":[]},{"id":"beb2707.f414d9","type":"debug","name":"","active":false,"console":"false","complete":"false","x":642.6543884277344,"y":1015.0619325637817,"z":"603ff2c0.9fc00c","wires":[]},{"id":"5deb4269.a214bc","type":"inject","name":"at12:00","topic":"","payload":"","payloadType":"none","repeat":"","crontab":"00 12 * * *","once":false,"x":151.43211364746094,"y":1579.9140625,"z":"603ff2c0.9fc00c","wires":[["d9226c75.26dd9","b2727173.4d8d9","14b87559.eb478b","28e60d77.d719f2"]]},{"id":"d9226c75.26dd9","type":"function","name":"del errPageDisplay","useRequire":false,"func":"msg.payload = ['del','errPageDisplay'];\nreturn msg;","outputs":1,"x":421.2099151611328,"y":1496.123483657837,"z":"603ff2c0.9fc00c","wires":[["68287180.97d79"]]},{"id":"b2727173.4d8d9","type":"function","name":"del errTypeCount","useRequire":false,"func":"msg.payload = ['del','errTypeCount'];\nreturn msg;","outputs":1,"x":415.32098388671875,"y":1546.8028564453125,"z":"603ff2c0.9fc00c","wires":[["68287180.97d79"]]},{"id":"14b87559.eb478b","type":"function","name":"del visitPageCount","useRequire":false,"func":"msg.payload = ['del','visitPageCount'];\nreturn msg;","outputs":1,"x":416.20989990234375,"y":1597.4696044921875,"z":"603ff2c0.9fc00c","wires":[["68287180.97d79"]]},{"id":"68287180.97d79","type":"redis-voyager","hostname":"127.0.0.1","port":6379,"name":"clean redis","x":726.5432739257812,"y":1575.75341796875,"z":"603ff2c0.9fc00c","wires":[]},{"id":"b6e3cfb2.491c3","type":"debug","name":"","active":false,"console":"false","complete":"false","x":659.6543998718262,"y":1206.160771369934,"z":"603ff2c0.9fc00c","wires":[]},{"id":"382f565a.c7d0aa","type":"function","name":"refererCount","useRequire":false,"func":"if(msg.payload.referer!=\"\")\n{\n\tvar referer=msg.payload.referer;\n\tmsg.payload={\"referer\":referer};\n\treturn msg;\n}","outputs":1,"x":607.8889503479004,"y":667.0001173019409,"z":"603ff2c0.9fc00c","wires":[["28615660.d79eaa","5e2567bf.a1da98"]]},{"id":"28615660.d79eaa","type":"function","name":"refererCount","useRequire":false,"func":"var referer=msg.payload.referer;\nmsg.payload=['zincrby','refererCount',1,referer];\nreturn msg;","outputs":1,"x":815.8889503479004,"y":666.8890027999878,"z":"603ff2c0.9fc00c","wires":[["ef239e16.10dc6","d3b05684.2c4fa8"]]},{"id":"ef239e16.10dc6","type":"redis-voyager","hostname":"127.0.0.1","port":6379,"name":"refererCount","x":1032.8889503479004,"y":666.8890027999878,"z":"603ff2c0.9fc00c","wires":[]},{"id":"5e2567bf.a1da98","type":"debug","name":"","active":false,"console":"false","complete":"false","x":596.8889503479004,"y":573.8890027999878,"z":"603ff2c0.9fc00c","wires":[]},{"id":"d3b05684.2c4fa8","type":"debug","name":"","active":false,"console":"false","complete":"false","x":812.8889503479004,"y":581.8890027999878,"z":"603ff2c0.9fc00c","wires":[]},{"id":"2f86f6aa.d0790a","type":"debug","name":"","active":false,"console":"false","complete":"false","x":416.8889503479004,"y":1317.6669473648071,"z":"603ff2c0.9fc00c","wires":[]},{"id":"49d1fc87.b62e04","type":"redis in","hostname":"127.0.0.1","port":6379,"name":"refererCount","key":"refererCount","structtype":"zset","x":411.61117935180664,"y":1379.7779703140259,"z":"603ff2c0.9fc00c","wires":[["2f86f6aa.d0790a","86fc322f.7903d"]]},{"id":"eae10e83.151ef","type":"debug","name":"","active":false,"console":"false","complete":"false","x":660.8889808654785,"y":1312.6669473648071,"z":"603ff2c0.9fc00c","wires":[]},{"id":"86fc322f.7903d","type":"function","name":"refererCount","useRequire":false,"func":"var temp=[];\nvar payload=[];\npayload.push([\"来路页面\",\"次数\"]);\nif(msg.payload.length>40)\n{\n    var len=40;\n}\nelse\n{\n    var len=msg.payload.length;\n}\nfor(var i=0;i<len-1;i+=2)\n{\n\tvar referer=msg.payload[i];\n\tvar count=msg.payload[i+1];\n    payload.push([referer,count]);\n}\npayload={\"value\":payload};\nmsg.payload={\n        \"MsgID\":\"adminpush_tableerrPageCount\",\n        \"username\":\"admin\",\n        \"payload\":payload\n    };\nmsg.payload = JSON.stringify(msg.payload);\nreturn msg;","outputs":1,"x":663.4569435119629,"y":1379.4139566421509,"z":"603ff2c0.9fc00c","wires":[["eae10e83.151ef"]]},{"id":"28e60d77.d719f2","type":"function","name":"del refererCount","useRequire":false,"func":"msg.payload = ['del','refererCount'];\nreturn msg;","outputs":1,"x":415.888916015625,"y":1651.778076171875,"z":"603ff2c0.9fc00c","wires":[["68287180.97d79"]]}]