webSet.txt
[{"id":"d004ec73.2ffb1","type":"redisPub","name":"errPageDisplay","host":"127.0.0.1","port":6379,"user":"","passwd":"","channel":"adminpush_tableerrPageCount","x":838.8889122009277,"y":1426.888921737671,"z":"603ff2c0.9fc00c","wires":[]},{"id":"9432341a.6bcdc8","type":"function","name":"errPageDisplay","useRequire":false,"func":"var temp=[];\nvar payload=[];\npayload.push([\"´íÎóÀàÐÍ\",\"´íÎóÒ³Ãæ\"]);\nif(msg.payload.length>50)\n{\n    var len=50;\n}\nelse\n{\n    var len=msg.payload.length;\n}\nfor(var i=0;i<len;i+=2)\n{\n    temp=msg.payload[i].split(',');\n    var type=temp[0];\n    var url=temp[1];\n    payload.push([type,url]);\n}\npayload={\"value\":payload};\nmsg.payload={\n        \"MsgID\":\"adminpush_tableerrPageCount\",\n        \"username\":\"admin\",\n        \"payload\":payload\n    };\n//msg.payload = JSON.stringify(msg.payload);\nreturn msg;","outputs":1,"x":621.2223205566406,"y":1429.0001544952393,"z":"603ff2c0.9fc00c","wires":[["fc9ebc24.03614","d004ec73.2ffb1"]]},{"id":"92b6840c.6d4978","type":"redis in","hostname":"127.0.0.1","port":6379,"name":"errPageDisplay","key":"errPageDisplay","structtype":"zset","x":390.8889617919922,"y":1428.0000972747803,"z":"603ff2c0.9fc00c","wires":[["5d5ae14d.a2a52","9432341a.6bcdc8"]]},{"id":"f6f90650.0906f8","type":"inject","name":"2s","topic":"","payload":"","payloadType":"none","repeat":"2","crontab":"","once":false,"x":130.88897705078125,"y":1581.1109714508057,"z":"603ff2c0.9fc00c","wires":[["92b6840c.6d4978","364cb2f2.c9b34e","1e28ff1a.e1d701","f420a69b.0bdf58"]]},{"id":"5d5ae14d.a2a52","type":"debug","name":"","active":false,"console":"false","complete":"false","x":367.44454193115234,"y":1339.8889560699463,"z":"603ff2c0.9fc00c","wires":[]},{"id":"fc9ebc24.03614","type":"debug","name":"","active":false,"console":"false","complete":"false","x":611.1112213134766,"y":1345.9999446868896,"z":"603ff2c0.9fc00c","wires":[]},{"id":"d992e9db.266d18","type":"function","name":"404errCount","useRequire":false,"func":"\n\tvar status=msg.payload.status;\n\tif(status==\"404\")\n\t{\n\t\tmsg.payload=['zincrby','404errCount',1,status];\n\t\treturn msg;\n\t}","outputs":1,"x":781.6008415222168,"y":723.5557136535645,"z":"603ff2c0.9fc00c","wires":[["5a2bc6e6.a5d438"]]},{"id":"ae3b84f4.51c478","type":"function","name":"countUserAgent","func":"var userIP=msg.payload.userIP;\nvar user_agent=msg.payload.user_agent;\nmsg.payload={\n    \"MsgID\":\"errPageCount\",\n    \"username\":\"wangjiangbo@orientsoft.cn\",\n    \"payload\":{\n        \"value\":[\n            [\"userIP\",\"userAgent\"],\n            [userIP,user_agent]\n            ]\n    }\n};\nmsg.payload = JSON.stringify(msg.payload);\nreturn msg;","outputs":1,"x":574.4443855285645,"y":929.333324432373,"z":"603ff2c0.9fc00c","wires":[[]]},{"id":"3b354bff.c4cab4","type":"function","name":"msgToJSON","useRequire":false,"func":"\nvar userIP=\"\";\nvar hostIP=\"\";\nif(msg.payload.indexOf(\"HTTP_TRACE_REP\")==0)\n{\n    var temp=msg.payload.split('#');\n    var type=temp[0].slice(0,temp[0].indexOf('|'));\n    userIP=temp[0].split('|')[3].split(':')[0];\n    hostIP=temp[0].split('|')[2].split(':')[0];\n    var last=temp[1];\n    var lastTemp=last.split('|');\n    var target=lastTemp[3];\n    var status=lastTemp[4];\n    var hoststring=last.substring(last.indexOf(\"Host: \")+6,last.length);\n    var host=hoststring.substring(0,hoststring.indexOf(' '));\n    var user_agentstring=last.substring(last.indexOf(\"User-Agent: \")+12,last.length);\n    if(user_agentstring.indexOf(' ')>0)\n    {\n    \tvar user_agent=user_agentstring.substring(0,user_agentstring.indexOf(' '));\n    }\n    else\n    {\n    \tvar user_agent=user_agentstring;\n    }\n    if(last.indexOf(\"Referer: \")>0)\n    {\n    \tvar referer_string=last.substring(last.indexOf(\"Referer: \")+9,last.length);\n    \tif(referer_string.indexOf(' ')>0)\n    \t{\n    \t\tvar referer=referer_string.substring(0,referer_string.indexOf(' '));\n    \t}\n    \telse\n    \t{\n    \t\tvar referer=referer_string;\n    \t}\n    }\n    else\n    {\n    \tvar referer=\"\";\n    }\n    \n    msg.payload={\n        \"type\":type,\n        \"userIP\":userIP,\n        \"hostIP\":hostIP,\n        \"target\":target,\n        \"status\":status,\n        \"host\":host,\n        \"user_agent\":user_agent,\n        \"referer\":referer\n    };\n    return msg;\n}\nif(msg.payload.indexOf(\"HTTP_TRACE_REQ\")==0)\n{\n    var temp=msg.payload.split('#');\n    var type=temp[0].slice(0,temp[0].indexOf('|'));\n    hostIP=temp[0].split('|')[3].split(':')[0];\n    userIP=temp[0].split('|')[2].split(':')[0];\n    last=temp[1].split(\"|\")[3];\n    var target=last.substring(0,last.indexOf(' '));\n    var hoststring=last.substring(last.indexOf(\"Host: \")+6,last.length);\n    var host=hoststring.substring(0,hoststring.indexOf(' '));\n    var user_agentstring=last.substring(last.indexOf(\"User-Agent: \")+12,last.length);\n    if(user_agentstring.indexOf(' ')>0)\n    {\n    \tvar user_agent=user_agentstring.substring(0,user_agentstring.indexOf(' '));\n    }\n    else\n    {\n    \tvar user_agent=user_agentstring;\n    }\n    if(last.indexOf(\"Referer: \")>0)\n    {\n    \tvar referer_string=last.substring(last.indexOf(\"Referer: \")+9,last.length);\n    \tif(referer_string.indexOf(' ')>0)\n    \t{\n    \t\tvar referer=referer_string.substring(0,referer_string.indexOf(' '));\n    \t}\n    \telse\n    \t{\n    \t\tvar referer=referer_string;\n    \t}\n    }\n    else\n    {\n    \tvar referer=\"\";\n    }\n    msg.payload={\n        \"type\":type,\n        \"userIP\":userIP,\n        \"hostIP\":hostIP,\n        \"target\":target,\n        \"host\":host,\n        \"user_agent\":user_agent,\n        \"referer\":referer\n    };\n    return msg;\n}","outputs":1,"x":350.2118911743164,"y":931.6667537689209,"z":"603ff2c0.9fc00c","wires":[["ae3b84f4.51c478","76121703.89ede8","afa55903.505aa8","8423277c.7bdcd8"]]},{"id":"1eb5e697.e14a19","type":"redisSub","name":"Http_traceReader","host":"127.0.0.1","port":6379,"user":"","passwd":"","channel":"http_trace","x":106.3785400390625,"y":947.5277700424194,"z":"603ff2c0.9fc00c","wires":[["3b354bff.c4cab4","7c087e3c.83f78"]]},{"id":"c010aecd.3fef5","type":"function","name":"errPageDisplay","useRequire":false,"func":"var time=(new Date()).getTime();\nvar errType=msg.payload.status;\nvar errURL=msg.payload.target;\nvar array=[errType,errURL];\nmsg.payload=['zincrby','errPageDisplay',time,array];\nreturn msg;\n","outputs":1,"x":782.9896697998047,"y":654.2223587036133,"z":"603ff2c0.9fc00c","wires":[["ef528428.10ad78"]]},{"id":"ef528428.10ad78","type":"redis-voyager","hostname":"127.0.0.1","port":6379,"name":"errPageDisplay","x":1007.5554847717285,"y":654.5554418563843,"z":"603ff2c0.9fc00c","wires":[]},{"id":"76121703.89ede8","type":"debug","name":"","active":false,"console":"false","complete":"false","x":329.82295989990234,"y":814.4444789886475,"z":"603ff2c0.9fc00c","wires":[]},{"id":"afa55903.505aa8","type":"function","name":"errPage","useRequire":false,"func":"if(msg.payload.type==\"HTTP_TRACE_REP\")\n{\n\tif(msg.payload.status.indexOf(\"3\")==0||msg.payload.status.indexOf(\"4\")==0||msg.payload.status.indexOf(\"5\")==0)\n\t{\n    \tvar errType=msg.payload.status;\n    \tvar errURL=msg.payload.target;\n    \tmsg.payload={\n    \t\t\"status\":errType,\n    \t\t\"target\":errURL\n    \t};\n    \treturn msg;\n\t}\n\n}","outputs":1,"x":563.9999694824219,"y":755.0000123977661,"z":"603ff2c0.9fc00c","wires":[["c010aecd.3fef5","d992e9db.266d18","93827105.6c7d9","290d695d.d6f296"]]},{"id":"93827105.6c7d9","type":"function","name":"403errCount","useRequire":false,"func":"\n\tvar status=msg.payload.status;\n\tif(status==\"403\")\n\t{\n\t\tmsg.payload=['zincrby','403errCount',1,status];\n\t\treturn msg;\n\t}\n\n","outputs":1,"x":782.0987396240234,"y":790.3702945709229,"z":"603ff2c0.9fc00c","wires":[["8bc52fc5.743ad"]]},{"id":"290d695d.d6f296","type":"function","name":"304errCount","useRequire":false,"func":"\n\tvar status=msg.payload.status;\n\tif(status==\"304\")\n\t{\n\t\tmsg.payload=['zincrby','304errCount',1,status];\n\t\treturn msg;\n\t}\n","outputs":1,"x":777.6542282104492,"y":858.1481075286865,"z":"603ff2c0.9fc00c","wires":[["574d800.fa8b28","87bb9afb.784468"]]},{"id":"5a2bc6e6.a5d438","type":"redis-voyager","hostname":"127.0.0.1","port":6379,"name":"404errCount","x":1002.0987014770508,"y":723.5802249908447,"z":"603ff2c0.9fc00c","wires":[]},{"id":"8bc52fc5.743ad","type":"redis-voyager","hostname":"127.0.0.1","port":6379,"name":"403errCount","x":1004.3209419250488,"y":791.3579845428467,"z":"603ff2c0.9fc00c","wires":[]},{"id":"574d800.fa8b28","type":"redis-voyager","hostname":"127.0.0.1","port":6379,"name":"304errCount","x":1004.3209457397461,"y":856.9135627746582,"z":"603ff2c0.9fc00c","wires":[]},{"id":"364cb2f2.c9b34e","type":"redis in","hostname":"127.0.0.1","port":6379,"name":"404errCount","key":"404errCount","structtype":"zset","x":388.7654037475586,"y":1532.0986404418945,"z":"603ff2c0.9fc00c","wires":[["ae0b157a.51f4e8"]]},{"id":"1e28ff1a.e1d701","type":"redis in","hostname":"127.0.0.1","port":6379,"name":"403errCount","key":"403errCount","structtype":"zset","x":390.9876174926758,"y":1648.7653903961182,"z":"603ff2c0.9fc00c","wires":[["de3cd06.f21c33","e3552fd5.1caad"]]},{"id":"f420a69b.0bdf58","type":"redis in","hostname":"127.0.0.1","port":6379,"name":"304errCount","key":"304errCount","structtype":"zset","x":394.32098388671875,"y":1752.0988101959229,"z":"603ff2c0.9fc00c","wires":[["396c8393.c6937c","96790828.6986f8"]]},{"id":"ae0b157a.51f4e8","type":"function","name":"404errCount","useRequire":false,"func":"var tmp = []\nvar payload = []\n\nif(msg.payload.length>=50){\n  var len =50\n}\nelse{\n  var len=msg.payload.length\n}\n\n\nfor(var i=0;i<len;i+=2){\n    tmp = msg.payload[i+1]\n    var item = msg.payload[i]\n    payload.push([item,parseInt(tmp)])\n}\n\n\npayload = {'value':payload}\nmsg.payload = {'MsgID':'404err_Count','username':'admin','payload':payload}\nmsg.payload = JSON.stringify(msg.payload);\nreturn msg;","outputs":1,"x":608.7654418945312,"y":1536.5431518554688,"z":"603ff2c0.9fc00c","wires":[["468840a6.b977c"]]},{"id":"de3cd06.f21c33","type":"function","name":"403errCount","useRequire":false,"func":"var tmp = []\nvar payload = []\n\nif(msg.payload.length>=50){\n  var len =50\n}\nelse{\n  var len=msg.payload.length\n}\n\n\nfor(var i=0;i<len;i+=2){\n    tmp = msg.payload[i+1]\n    var item = msg.payload[i]\n    payload.push([item,parseInt(tmp)])\n}\n\n\npayload = {'value':payload}\nmsg.payload = {'MsgID':'403err_Count','username':'admin','payload':payload}\nmsg.payload = JSON.stringify(msg.payload);\nreturn msg;","outputs":1,"x":620.9876899719238,"y":1646.5431680679321,"z":"603ff2c0.9fc00c","wires":[[]]},{"id":"396c8393.c6937c","type":"function","name":"304errCount","useRequire":false,"func":"var tmp = []\nvar payload = []\n\nif(msg.payload.length>=50){\n  var len =50\n}\nelse{\n  var len=msg.payload.length\n}\n\n\nfor(var i=0;i<len;i+=2){\n    tmp = msg.payload[i+1]\n    var item = msg.payload[i]\n    payload.push([item,parseInt(tmp)])\n}\n\n\npayload = {'value':payload}\nmsg.payload = {'MsgID':'304err_Count','username':'admin','payload':payload}\nmsg.payload = JSON.stringify(msg.payload);\nreturn msg;","outputs":1,"x":619.8765258789062,"y":1750.9876174926758,"z":"603ff2c0.9fc00c","wires":[[]]},{"id":"468840a6.b977c","type":"debug","name":"","active":false,"console":"false","complete":"false","x":614.3209342956543,"y":1476.6667594909668,"z":"603ff2c0.9fc00c","wires":[]},{"id":"6c711654.938ee8","type":"function","name":"visitPageCount","useRequire":false,"func":"var visitPage=msg.payload.visitPage;\nmsg.payload=['zincrby','visitPageCount',1,visitPage];\nreturn msg;","outputs":1,"x":817.6543807983398,"y":1148.1482257843018,"z":"603ff2c0.9fc00c","wires":[["59f7da2e.a60824","eb85324a.147ad"]]},{"id":"8423277c.7bdcd8","type":"function","name":"visitPage","useRequire":false,"func":"if(msg.payload.type==\"HTTP_TRACE_REQ\")\n{\n\t\n\tif(msg.payload.target.indexOf(\".html\")>0)\n\t{\n\t\tvar visitPage=msg.payload.target;\n\t\tmsg.payload={\n\t\t\t\"visitPage\":visitPage\n\t\t};\n\t\treturn msg;\n\t}\n}\n","outputs":1,"x":582.0986862182617,"y":1147.0369758605957,"z":"603ff2c0.9fc00c","wires":[["6c711654.938ee8","5911bb01.a6ee44"]]},{"id":"59f7da2e.a60824","type":"debug","name":"","active":false,"console":"false","complete":"false","x":816.5432014465332,"y":1043.7037754058838,"z":"603ff2c0.9fc00c","wires":[]},{"id":"5911bb01.a6ee44","type":"debug","name":"","active":false,"console":"false","complete":"false","x":583.4568023681641,"y":1065.1851949691772,"z":"603ff2c0.9fc00c","wires":[]},{"id":"7c087e3c.83f78","type":"debug","name":"","active":false,"console":"false","complete":"false","x":179.3888931274414,"y":738.1666841506958,"z":"603ff2c0.9fc00c","wires":[]},{"id":"87bb9afb.784468","type":"debug","name":"","active":false,"console":"false","complete":"false","x":788.7654283311632,"y":923.4567987837095,"z":"603ff2c0.9fc00c","wires":[]},{"id":"96790828.6986f8","type":"debug","name":"","active":false,"console":"false","complete":"false","x":388.34877014160156,"y":1826.6821575164795,"z":"603ff2c0.9fc00c","wires":[]},{"id":"e3552fd5.1caad","type":"debug","name":"","active":false,"console":"false","complete":"false","x":390.98767852783203,"y":1703.2098941802979,"z":"603ff2c0.9fc00c","wires":[]},{"id":"15eb72f7.ea148d","type":"inject","name":"1s","topic":"","payload":"","payloadType":"none","repeat":"1","crontab":"","once":false,"x":126.12654113769531,"y":2012.0834035873413,"z":"603ff2c0.9fc00c","wires":[["972d8134.68d28"]]},{"id":"eb85324a.147ad","type":"redis-voyager","hostname":"127.0.0.1","port":6379,"name":"visitPageCount","x":1075.709831237793,"y":1140.3088855743408,"z":"603ff2c0.9fc00c","wires":[]},{"id":"972d8134.68d28","type":"redis in","hostname":"127.0.0.1","port":6379,"name":"visitPageCount","key":"visitPageCount","structtype":"zset","x":353.6111297607422,"y":2017.2223205566406,"z":"603ff2c0.9fc00c","wires":[["84215ab2.7bdea8","f5c59be4.0a3a68"]]},{"id":"84215ab2.7bdea8","type":"function","name":"visitPageCount","useRequire":false,"func":"\nreturn msg;","outputs":1,"x":596.1110744476318,"y":2021.9444842338562,"z":"603ff2c0.9fc00c","wires":[[]]},{"id":"f5c59be4.0a3a68","type":"debug","name":"","active":false,"console":"false","complete":"false","x":346.1111068725586,"y":1926.1111466089894,"z":"603ff2c0.9fc00c","wires":[]}]