webSet.txt
[{"id":"d004ec73.2ffb1","type":"redisPub","name":"errPageDisplay","host":"127.0.0.1","port":6379,"user":"","passwd":"","channel":"adminpush_tableerrPageCount","x":768.8889465332031,"y":1495.77783203125,"z":"603ff2c0.9fc00c","wires":[]},{"id":"9432341a.6bcdc8","type":"function","name":"errPageDisplay","useRequire":false,"func":"var temp=[];\nvar payload=[];\npayload.push([\"´íÎóÀàÐÍ\",\"´íÎóÒ³Ãæ\"]);\nif(msg.payload.length>50)\n{\n    var len=50;\n}\nelse\n{\n    var len=msg.payload.length;\n}\nfor(var i=0;i<len;i+=2)\n{\n    temp=msg.payload[i].split(',');\n    var type=temp[0];\n    var url=temp[1];\n    payload.push([type,url]);\n}\npayload={\"value\":payload};\nmsg.payload={\n        \"MsgID\":\"adminpush_tableerrPageCount\",\n        \"username\":\"admin\",\n        \"payload\":payload\n    };\n//msg.payload = JSON.stringify(msg.payload);\nreturn msg;","outputs":1,"x":527.8890075683594,"y":1499.0001220703125,"z":"603ff2c0.9fc00c","wires":[["fc9ebc24.03614","d004ec73.2ffb1"]]},{"id":"92b6840c.6d4978","type":"redis in","hostname":"127.0.0.1","port":6379,"name":"errPageDisplay","key":"errPageDisplay","structtype":"zset","x":310.88897705078125,"y":1495.77783203125,"z":"603ff2c0.9fc00c","wires":[["5d5ae14d.a2a52","9432341a.6bcdc8"]]},{"id":"f6f90650.0906f8","type":"inject","name":"2s","topic":"","payload":"","payloadType":"none","repeat":"2","crontab":"","once":false,"x":69.77786636352539,"y":1581.110993385315,"z":"603ff2c0.9fc00c","wires":[["92b6840c.6d4978","364cb2f2.c9b34e","1e28ff1a.e1d701","f420a69b.0bdf58"]]},{"id":"5d5ae14d.a2a52","type":"debug","name":"","active":false,"console":"false","complete":"false","x":271.88897705078125,"y":1421,"z":"603ff2c0.9fc00c","wires":[]},{"id":"fc9ebc24.03614","type":"debug","name":"","active":false,"console":"false","complete":"false","x":548.8890075683594,"y":1396,"z":"603ff2c0.9fc00c","wires":[]},{"id":"d992e9db.266d18","type":"function","name":"404errCount","useRequire":false,"func":"\n\tvar status=msg.payload.status;\n\tif(status==\"404\")\n\t{\n\t\tmsg.payload=['zincrby','404errCount',1,status];\n\t\treturn msg;\n\t}","outputs":1,"x":786.045238494873,"y":786.8890771865845,"z":"603ff2c0.9fc00c","wires":[["5a2bc6e6.a5d438"]]},{"id":"ae3b84f4.51c478","type":"function","name":"countUserAgent","func":"var userIP=msg.payload.userIP;\nvar user_agent=msg.payload.user_agent;\nmsg.payload={\n    \"MsgID\":\"errPageCount\",\n    \"username\":\"wangjiangbo@orientsoft.cn\",\n    \"payload\":{\n        \"value\":[\n            [\"userIP\",\"userAgent\"],\n            [userIP,user_agent]\n            ]\n    }\n};\nmsg.payload = JSON.stringify(msg.payload);\nreturn msg;","outputs":1,"x":588.8888626098633,"y":973.7777843475342,"z":"603ff2c0.9fc00c","wires":[[]]},{"id":"3b354bff.c4cab4","type":"function","name":"msgToJSON","useRequire":false,"func":"\nvar userIP=\"\";\nvar hostIP=\"\";\nif(msg.payload.indexOf(\"HTTP_TRACE_REP\")==0)\n{\n    var temp=msg.payload.split('#');\n    var type=temp[0].slice(0,temp[0].indexOf('|'));\n    userIP=temp[0].split('|')[3].split(':')[0];\n    hostIP=temp[0].split('|')[2].split(':')[0];\n    var last=temp[1];\n    var lastTemp=last.split('|');\n    var target=lastTemp[3];\n    var status=lastTemp[4];\n    var hoststring=last.substring(last.indexOf(\"Host: \")+6,last.length);\n    var host=hoststring.substring(0,hoststring.indexOf('\\n'));\n    var user_agentstring=last.substring(last.indexOf(\"User-Agent: \")+12,last.length);\n    var user_agent=user_agentstring.substring(0,user_agentstring.indexOf('\\n'));\n    var referer_string=last.substring(last.indexOf(\"Referer: \")+9,last.length);\n    var referer=referer_string.substring(0,referer_string.indexOf('\\n'));\n    msg.payload={\n        \"type\":type,\n        \"userIP\":userIP,\n        \"hostIP\":hostIP,\n        \"target\":target,\n        \"status\":status,\n        \"host\":host,\n        \"user_agent\":user_agent,\n        \"referer\":referer\n    };\n    return msg;\n}\nif(msg.payload.indexOf(\"HTTP_TRACE_REQ\")==0)\n{\n    var temp=msg.payload.split('#');\n    var type=temp[0].slice(0,temp[0].indexOf('|'));\n    hostIP=temp[0].split('|')[3].split(':')[0];\n    userIP=temp[0].split('|')[2].split(':')[0];\n    last=temp[1].split(\"|\")[3];\n    var target=last.substring(0,last.indexOf(' '));\n    var hoststring=last.substring(last.indexOf(\"Host: \")+6,last.length);\n    var host=hoststring.substring(0,hoststring.indexOf('\\n'));\n    var user_agentstring=last.substring(last.indexOf(\"User-Agent: \")+12,last.length);\n    var user_agent=user_agentstring.substring(0,user_agentstring.indexOf('\\n'));\n    var referer_string=last.substring(last.indexOf(\"Referer: \")+9,last.length);\n    var referer=referer_string.substring(0,referer_string.indexOf('\\n'));\n    msg.payload={\n        \"type\":type,\n        \"userIP\":userIP,\n        \"hostIP\":hostIP,\n        \"target\":target,\n        \"host\":host,\n        \"user_agent\":user_agent,\n        \"referer\":referer\n    };\n    return msg;\n}","outputs":1,"x":328.43409729003906,"y":947.7779026031494,"z":"603ff2c0.9fc00c","wires":[["ae3b84f4.51c478","76121703.89ede8","afa55903.505aa8","8423277c.7bdcd8"]]},{"id":"1eb5e697.e14a19","type":"redisSub","name":"Http_traceReader","host":"127.0.0.1","port":6379,"user":"","passwd":"","channel":"http_trace","x":124.8785400390625,"y":913.7777709960938,"z":"603ff2c0.9fc00c","wires":[["3b354bff.c4cab4"]]},{"id":"c010aecd.3fef5","type":"function","name":"errPageDisplay","useRequire":false,"func":"var time=(new Date()).getTime();\nvar errType=msg.payload.status;\nvar errURL=msg.payload.target;\nvar array=[errType,errURL];\nmsg.payload=['zincrby','errPageDisplay',time,array];\nreturn msg;\n","outputs":1,"x":788.5452041625977,"y":719.7779026031494,"z":"603ff2c0.9fc00c","wires":[["ef528428.10ad78"]]},{"id":"ef528428.10ad78","type":"redis-voyager","hostname":"127.0.0.1","port":6379,"name":"errPageDisplay","x":1015.3332786560059,"y":721.222095489502,"z":"603ff2c0.9fc00c","wires":[]},{"id":"76121703.89ede8","type":"debug","name":"","active":false,"console":"false","complete":"false","x":365.3785400390625,"y":827.77783203125,"z":"603ff2c0.9fc00c","wires":[]},{"id":"afa55903.505aa8","type":"function","name":"errPage","useRequire":false,"func":"if(msg.payload.type==\"HTTP_TRACE_REP\")\n{\n\tif(msg.payload.status.indexOf(\"3\")==0||msg.payload.status.indexOf(\"4\")==0||msg.payload.status.indexOf(\"5\")==0)\n\t{\n    \tvar errType=msg.payload.status;\n    \tvar errURL=msg.payload.target;\n    \tmsg.payload={\n    \t\t\"status\":errType,\n    \t\t\"target\":errURL\n    \t};\n    \treturn msg;\n\t}\n\n}","outputs":1,"x":582.8889465332031,"y":841.6667175292969,"z":"603ff2c0.9fc00c","wires":[["c010aecd.3fef5","d992e9db.266d18","93827105.6c7d9","290d695d.d6f296"]]},{"id":"93827105.6c7d9","type":"function","name":"403errCount","useRequire":false,"func":"\n\tvar status=msg.payload.status;\n\tif(status==\"403\")\n\t{\n\t\tmsg.payload=['zincrby','403errCount',1,status];\n\t\treturn msg;\n\t}\n\n","outputs":1,"x":787.6542739868164,"y":850.3703155517578,"z":"603ff2c0.9fc00c","wires":[["8bc52fc5.743ad"]]},{"id":"290d695d.d6f296","type":"function","name":"304errCount","useRequire":false,"func":"\n\tvar status=msg.payload.status;\n\tif(status==\"304\")\n\t{\n\t\tmsg.payload=['zincrby','304errCount',1,status];\n\t\treturn msg;\n\t}\n","outputs":1,"x":784.3209228515625,"y":911.4814453125,"z":"603ff2c0.9fc00c","wires":[["574d800.fa8b28"]]},{"id":"5a2bc6e6.a5d438","type":"redis-voyager","hostname":"127.0.0.1","port":6379,"name":"404errCount","x":1029.87646484375,"y":788.024658203125,"z":"603ff2c0.9fc00c","wires":[]},{"id":"8bc52fc5.743ad","type":"redis-voyager","hostname":"127.0.0.1","port":6379,"name":"403errCount","x":1028.765380859375,"y":858.024658203125,"z":"603ff2c0.9fc00c","wires":[]},{"id":"574d800.fa8b28","type":"redis-voyager","hostname":"127.0.0.1","port":6379,"name":"304errCount","x":1018.765380859375,"y":915.8024444580078,"z":"603ff2c0.9fc00c","wires":[]},{"id":"364cb2f2.c9b34e","type":"redis in","hostname":"127.0.0.1","port":6379,"name":"404errCount","key":"404errCount","structtype":"zset","x":303.2098693847656,"y":1552.0987548828125,"z":"603ff2c0.9fc00c","wires":[["ae0b157a.51f4e8"]]},{"id":"1e28ff1a.e1d701","type":"redis in","hostname":"127.0.0.1","port":6379,"name":"403errCount","key":"403errCount","structtype":"zset","x":302.0987548828125,"y":1606.543212890625,"z":"603ff2c0.9fc00c","wires":[["de3cd06.f21c33"]]},{"id":"f420a69b.0bdf58","type":"redis in","hostname":"127.0.0.1","port":6379,"name":"304errCount","key":"304errCount","structtype":"zset","x":304.32098388671875,"y":1670.9876708984375,"z":"603ff2c0.9fc00c","wires":[["396c8393.c6937c"]]},{"id":"ae0b157a.51f4e8","type":"function","name":"404errCount","useRequire":false,"func":"var tmp = []\nvar payload = []\n\nif(msg.payload.length>=50){\n  var len =50\n}\nelse{\n  var len=msg.payload.length\n}\n\n\nfor(var i=0;i<len;i+=2){\n    tmp = msg.payload[i+1]\n    var item = msg.payload[i]\n    payload.push([item,parseInt(tmp)])\n}\n\n\npayload = {'value':payload}\nmsg.payload = {'MsgID':'404err_Count','username':'admin','payload':payload}\nmsg.payload = JSON.stringify(msg.payload);\nreturn msg;","outputs":1,"x":532.0987548828125,"y":1555.4320068359375,"z":"603ff2c0.9fc00c","wires":[["468840a6.b977c"]]},{"id":"de3cd06.f21c33","type":"function","name":"403errCount","useRequire":false,"func":"var tmp = []\nvar payload = []\n\nif(msg.payload.length>=50){\n  var len =50\n}\nelse{\n  var len=msg.payload.length\n}\n\n\nfor(var i=0;i<len;i+=2){\n    tmp = msg.payload[i+1]\n    var item = msg.payload[i]\n    payload.push([item,parseInt(tmp)])\n}\n\n\npayload = {'value':payload}\nmsg.payload = {'MsgID':'403err_Count','username':'admin','payload':payload}\nmsg.payload = JSON.stringify(msg.payload);\nreturn msg;","outputs":1,"x":536.543212890625,"y":1607.654296875,"z":"603ff2c0.9fc00c","wires":[[]]},{"id":"396c8393.c6937c","type":"function","name":"304errCount","useRequire":false,"func":"var tmp = []\nvar payload = []\n\nif(msg.payload.length>=50){\n  var len =50\n}\nelse{\n  var len=msg.payload.length\n}\n\n\nfor(var i=0;i<len;i+=2){\n    tmp = msg.payload[i+1]\n    var item = msg.payload[i]\n    payload.push([item,parseInt(tmp)])\n}\n\n\npayload = {'value':payload}\nmsg.payload = {'MsgID':'304err_Count','username':'admin','payload':payload}\nmsg.payload = JSON.stringify(msg.payload);\nreturn msg;","outputs":1,"x":539.8765258789062,"y":1662.0987548828125,"z":"603ff2c0.9fc00c","wires":[[]]},{"id":"468840a6.b977c","type":"debug","name":"","active":false,"console":"false","complete":"false","x":775.4320831298828,"y":1624.4445514678955,"z":"603ff2c0.9fc00c","wires":[]},{"id":"6c711654.938ee8","type":"function","name":"visitPageCount","useRequire":false,"func":"var visitPage=msg.payload.visitPage;\nmsg.payload=['zincrby','visitPageCount',1,visitPage];\nreturn msg;","outputs":1,"x":862.0988082885742,"y":1140.3704586029053,"z":"603ff2c0.9fc00c","wires":[["59f7da2e.a60824"]]},{"id":"8423277c.7bdcd8","type":"function","name":"visitPage","useRequire":false,"func":"if(msg.payload.type==\"HTTP_TRACE_REQ\")\n{\n\t\n\tif(msg.payload.target.indexOf(\".html\"))\n\t{\n\t\tvar visitPage=msg.payload.target;\n\t\tmsg.payload={\n\t\t\t\"visitPage\":visitPage\n\t\t};\n\t\treturn msg;\n\t}\n}\n","outputs":1,"x":582.0986862182617,"y":1147.0369758605957,"z":"603ff2c0.9fc00c","wires":[["6c711654.938ee8","5911bb01.a6ee44"]]},{"id":"59f7da2e.a60824","type":"debug","name":"","active":false,"console":"false","complete":"false","x":957.6542739868164,"y":1012.592625617981,"z":"603ff2c0.9fc00c","wires":[]},{"id":"5911bb01.a6ee44","type":"debug","name":"","active":false,"console":"false","complete":"false","x":656.790122403693,"y":1042.9629820887776,"z":"603ff2c0.9fc00c","wires":[]}]